<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Redeem Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content direction="xy" class="ion-padding-horizontal ion-text-center">
  <div class="flex-wrap">
    <div *ngIf="!loader">
      <p *ngIf="isSuccess">Congratulations, You succeeded redeem point</p>
      <p *ngIf="isFailed">{{errorMessage || 'Failed redeem point'}}</p>
    </div>

    <div>
      <ion-button *ngIf="!loader" routerLink="/home/homepage">Back To Home</ion-button>
    </div>
  </div>
</ion-content> -->

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar color="none">
      <ion-title>{{content ? content : 'Coming Soon'}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button *ngIf="!loader" routerLink="/home/homepage">Back To Home</ion-button>
</ion-content>


