<ion-content class="ion-padding-horizontal">
  <ion-header class="ion-no-border ion-padding-top ion-no-border">
    <ion-toolbar color="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/profile" color="main"></ion-back-button>
      </ion-buttons>
      <ion-title color="main">Ubah Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onChangePassword()" [formGroup]="changePasswordForm">
    <ion-grid>
      <div class="item">
        <ion-item color="none" lines="none" class="ion-no-padding input">
          <ion-label position="floating">Old Password</ion-label>
          <ion-input formControlName="old_password" [type]="typeOldPassword"></ion-input>
          <ion-icon (click)="onEye('eyeOldPassword', 'typeOldPassword')" [name]="eyeOldPassword"></ion-icon>
        </ion-item>
        <ion-note color="danger" *ngIf="changePasswordForm.get('old_password').hasError('required') && changePasswordForm.get('old_password').touched">
          <small>Password wajib diisi</small>
        </ion-note>
        <ion-note color="danger" *ngIf="changePasswordForm.get('old_password').hasError('minlength') && changePasswordForm.get('old_password').touched">
          <small>Password minimal 6 karakter</small>
        </ion-note>
        <ion-note color="danger" *ngIf="changePasswordForm.get('old_password').hasError('maxlength') && changePasswordForm.get('old_password').touched">
          <small>Password maksimal 30 karakter</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item color="none" lines="none" class="ion-no-padding input">
          <ion-label position="floating">New Password</ion-label>
          <ion-input formControlName="new_password" [type]="typeNewPassword"></ion-input>
          <ion-icon (click)="onEye('eyeNewPassword', 'typeNewPassword')" [name]="eyeNewPassword"></ion-icon>
        </ion-item>
        <ion-note color="danger" *ngIf="changePasswordForm.get('new_password').hasError('required') && changePasswordForm.get('new_password').touched">
          <small>Password wajib diisi</small>
        </ion-note>
        <ion-note color="danger" *ngIf="changePasswordForm.get('new_password').hasError('minlength') && changePasswordForm.get('new_password').touched">
          <small>Password minimal 6 karakter</small>
        </ion-note>
        <ion-note color="danger" *ngIf="changePasswordForm.get('new_password').hasError('maxlength') && changePasswordForm.get('new_password').touched">
          <small>Password maksimal 30 karakter</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item color="none" lines="none" class="ion-no-padding input">
          <ion-label position="floating">Confirmation New Password</ion-label>
          <ion-input formControlName="confirmation_password" [type]="typeConfirmationPassword"></ion-input>
          <ion-icon (click)="onEye('eyeConfirmationPassword', 'typeConfirmationPassword')" [name]="eyeConfirmationPassword"></ion-icon>
        </ion-item>
        <ion-note color="danger" *ngIf="changePasswordForm.get('confirmation_password').hasError('required') && changePasswordForm.get('confirmation_password').touched">
          <small>Konfirmasi Password wajib diisi</small></ion-note>
        <ion-note color="danger" *ngIf="changePasswordForm.get('confirmation_password').hasError('minlength') && changePasswordForm.get('confirmation_password').touched">
          <small>Konfirmasi Password minimal 6 karakter</small></ion-note>
        <ion-note color="danger" *ngIf="changePasswordForm.get('confirmation_password').hasError('maxlength') && changePasswordForm.get('confirmation_password').touched">
          <small>Konfirmasi Password maksimal 30 karakter</small></ion-note>
      </div>
      <br>

      <div class="btn-container">
        <ion-button *ngIf="!loader" type="submit" [disabled]="changePasswordForm.invalid" class="ion-margin-top" color="main">Ubah Password</ion-button>
      </div>
      <ion-spinner *ngIf="loader"></ion-spinner>
    </ion-grid>
  </form>
</ion-content>
