ion-header {
  ion-buttons {
    padding-left: .5rem;
  }
}

ion-icon {
  position: absolute;
  right: 8px;
  bottom: 7px;
  z-index: 1000;
}

ion-spinner {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
