<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/home/profile" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content direction="xy" class="ion-padding-horizontal">
    <form (ngSubmit)="onChangePassword()" [formGroup]="changePasswordForm">
      <ion-grid>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Old Password</ion-label>
          <ion-input formControlName="old_password" [type]="typeOldPassword"></ion-input>
            <ion-icon (click)="onEye('eyeOldPassword', 'typeOldPassword')" [name]="eyeOldPassword"></ion-icon>
          <ion-note *ngIf="changePasswordForm.get('old_password').hasError('required') && changePasswordForm.get('old_password').touched" slot="error">Old password required</ion-note>
          <ion-note *ngIf="changePasswordForm.get('old_password').hasError('minlength') && changePasswordForm.get('old_password').touched" slot="error">Old password min 6 characters</ion-note>
          <ion-note *ngIf="changePasswordForm.get('old_password').hasError('maxlength') && changePasswordForm.get('old_password').touched" slot="error">Old password max 16 cahracters</ion-note>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">New Password</ion-label>
          <ion-input formControlName="new_password" [type]="typeNewPassword"></ion-input>
          <ion-icon (click)="onEye('eyeNewPassword', 'typeNewPassword')" [name]="eyeNewPassword"></ion-icon>
          <ion-note *ngIf="changePasswordForm.get('new_password').hasError('required') && changePasswordForm.get('new_password').touched" slot="error">New password required</ion-note>
          <ion-note *ngIf="changePasswordForm.get('new_password').hasError('minlength') && changePasswordForm.get('new_password').touched" slot="error">New password min 6 characters</ion-note>
          <ion-note *ngIf="changePasswordForm.get('new_password').hasError('maxlength') && changePasswordForm.get('new_password').touched" slot="error">New password max 16 cahracters</ion-note>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Confirmation New Password</ion-label>
          <ion-input formControlName="confirmation_password" [type]="typeConfirmationPassword"></ion-input>
          <ion-icon (click)="onEye('eyeConfirmationPassword', 'typeConfirmationPassword')" [name]="eyeConfirmationPassword"></ion-icon>

          <ion-note *ngIf="changePasswordForm.get('confirmation_password').hasError('required') && changePasswordForm.get('confirmation_password').touched" slot="error">Confirmation new password required</ion-note>
          <ion-note *ngIf="changePasswordForm.get('confirmation_password').hasError('minlength') && changePasswordForm.get('confirmation_password').touched" slot="error">Confirmation new password min 6 characters</ion-note>
          <ion-note *ngIf="changePasswordForm.get('confirmation_password').hasError('maxlength') && changePasswordForm.get('confirmation_password').touched" slot="error">Confirmation new password max 16 cahracters</ion-note>
        </ion-item>
        <br>
        <ion-button *ngIf="!loader" type="submit" [disabled]="changePasswordForm.invalid" class="ion-margin-top" expand="block" color="primary">Change Password</ion-button>
        <ion-spinner *ngIf="loader"></ion-spinner>
      </ion-grid>
    </form>
  </ion-content>
