
<ion-content class="ion-padding">
  <ion-header class="ion-no-border">
    <ion-toolbar color="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/homepage" color="main"></ion-back-button>
      </ion-buttons>
      <ion-title color="main">Profil Saya</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="member-card">
    <div>
      <img src="../../../assets/images/membercard.jpg" alt="">
    </div>
    <div class="desc">
      <h1>{{chinese_name.slice(0, 10)}}</h1>
      <p>{{fullname | titlecase}}</p>
    </div>

    <div class="qr">
      <img src="https://chart.googleapis.com/chart?chs=250x250&chld=Q|0&cht=qr&chl={{fullname}}" alt="">
    </div>
    <!-- <div class="left">
      <div>
        <img src="" alt="">
        <p>Yayasan Marga Huang Batam</p>
      </div>

      <div>
        <p>Chinese Name</p>
        <p>Sofian Agung Wijaya</p>
      </div>
    </div>
    <div class="right"></div> -->
  </div>

  <div class="action">
    <ion-item routerLink="/profile-information" color="main" detail="false" class="ion-no-padding">
      <img src="../../../assets/images/person.svg">
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <p>Informasi Profil</p>
    </ion-item>
    <ion-item routerLink="/change-password" color="main" detail="false" class="ion-no-padding">
      <img src="../../../assets/images/lock.svg">
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <p>Ganti Password</p>
    </ion-item>
  </div>

  <!-- <ng-container *ngIf="user">
    <ion-card class="bio">
      <ion-card-header>
        <div class="image-upload">
          <img [src]="(url + user.image) || '/assets/images/profile-default.png'" />
          <ion-button (click)="file.click()" class="ion-no-margin" fill="clear">Change Profile Picture</ion-button>
          <input #file (change)="onUpload($event)" type="file" />
        </div>

        &nbsp;
        <div>
          <ion-card-subtitle>{{user.no_anggota}}</ion-card-subtitle>
          <ion-text>{{user.first_name_latin | titlecase}} {{user.last_name_latin | titlecase}} ({{user.chinese_name}})</ion-text>
          <p>Point : {{user.point | number}}</p>
        </div>
      </ion-card-header>
    </ion-card>
    <ion-list>
      <ion-item routerLink="/profile-information" class="ion-no-padding">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile Information</ion-label>
      </ion-item>
      <ion-item routerLink="/change-password" class="ion-no-padding">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label>Change Password</ion-label>
      </ion-item>
       <ion-item routerLink="/change-theme" class="ion-no-padding">
        <ion-icon name="color-palette-outline"></ion-icon>
        <ion-label>Change Theme</ion-label>
      </ion-item>
     </ion-list>
    <ion-button class="ion-margin" expand="block" (click)="onLogout()">Signout</ion-button>
  </ng-container>
  <ion-spinner class="ion-margin-top ion-padding-top" *ngIf="loader && !user"></ion-spinner> -->
</ion-content>

<ion-footer>
  <div class="btn-container">
    <ion-button class="ion-margin" color="grey" (click)="onLogout()">Keluar</ion-button>
  </div>
</ion-footer>
