ion-content {
  position: relative;

  ion-header {
    padding-top: 1.5rem;
  }
  ion-title {
    font-size: 28px;
  }

  div.member-card {
    margin-top: 2rem;
    display: flex;
    box-shadow: 4px 4px 4px var(--ion-color-grey);
    div.left {
      width: 55%;
      height: 208px;
      background-color: #d12700;
    }
    div.right {
      width: 45%;
      background-color: black;
    }
  }

  div.action {
    margin-top: 2rem;
    background-color: var(--ion-color-main);
    border-radius: 15px;

    ion-item {
    	color: white;
      border-radius: 15px;

      img {
        display: inline-block;
        padding-left: 1rem;
      }

      p {
        padding-left: 1rem;
      }
    }
  }
}

ion-footer {
  div.btn-container {
    width: 100%;
    text-align: right;
    ion-button {
      --border-radius: 50px;
      height: 35px;
      width: 100px;
      margin-bottom: 2rem;
      margin-right: 2rem
    }
  }
}
