<ion-content class="ion-padding-horizontal">
  <ion-header class="ion-no-border ion-padding-top">
    <ion-toolbar color="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/signin" color="main"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSignup()" [formGroup]="signupForm">
    <ion-grid>
      <ion-text color="main">
        <h1>Daftar Baru</h1>
      </ion-text>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label position="floating">Nama Lengkap</ion-label>
          <ion-input formControlName="fullname" type="text"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="signupForm.get('fullname').hasError('required') && signupForm.get('fullname').touched">
          <small>Fullname wajib diisi</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label position="floating">No NIK</ion-label>
          <ion-input maxlength="16" formControlName="nik" type="tel"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="signupForm.get('nik').hasError('required') && signupForm.get('nik').touched">
          <small>NIK wajib diisi</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signupForm.get('nik').hasError('minlength') || signupForm.get('nik').hasError('maxlength') && signupForm.get('nik').touched">
          <small>NIK wajib 16 digit angka</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label position="floating">Alamat Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').touched">
          <small>Email wajib diisi</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched">
          <small>Email tidak valid</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label position="floating">Buat Password</ion-label>
          <ion-input formControlName="password" [type]="typePassword"></ion-input>
          <ion-icon (click)="onEye('eyePassword', 'typePassword')" [name]="eyePassword"></ion-icon>
        </ion-item>
        <ion-note color="danger" *ngIf="signupForm.get('password').hasError('required') && signupForm.get('password').touched">
          <small>Password wajib diisi</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signupForm.get('password').hasError('minlength') && signupForm.get('password').touched">
          <small>Password minimal 6 karakter</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signupForm.get('password').hasError('maxlength') && signupForm.get('password').touched">
          <small>Password maksimal 16 karakter</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label position="floating">Ketik Ulang Password</ion-label>
          <ion-input formControlName="confirmation_password" [type]="typeConfirmationPassword"></ion-input>
          <ion-icon (click)="onEye('eyeConfirmationPassword', 'typeConfirmationPassword')" [name]="eyeConfirmationPassword"></ion-icon>
        </ion-item>
        <ion-note color="danger" *ngIf="signupForm.get('confirmation_password').hasError('required') && signupForm.get('confirmation_password').touched">
          <small>Konfirmasi password wajib diisi</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signupForm.get('confirmation_password').hasError('minlength') && signupForm.get('confirmation_password').touched">
          <small>Konfirmasi password minimal 6 karakter</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signupForm.get('confirmation_password').hasError('maxlength') && signupForm.get('confirmation_password').touched">
          <small>Konfirmasi password maksimal 16 karakter</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signupForm.get('confirmation_password').hasError('mismatch') && !signupForm.get('confirmation_password').hasError('minlength') && !signupForm.get('confirmation_password').hasError('maxlength') && signupForm.get('confirmation_password').touched">
          <small>{{signupForm.get('confirmation_password').errors['mismatch']}}</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-radio-group value="1" (ionFocus)="onRadioSelected($event)" lines="none" formControlName="gender">
          <ion-list-header class="ion-no-padding">
            <ion-label color="main">Gender</ion-label>
          </ion-list-header>

          <ion-item lines="none" color="none" class="ion-no-padding">
            <ion-label color="main">Pria</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>

          <ion-item lines="none" color="none" class="ion-no-padding">
            <ion-label color="main">Wanita</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-note color="danger" *ngIf="signupForm.get('gender').hasError('minlength') && signupForm.get('gender').touched">
          <small>Gender wajib dipilih</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label>Pilih Provinsi</ion-label>
          <ion-select (ionChange)="onSelectProvince($event)" formControlName="place_of_birth">
            <ion-select-option *ngFor="let province of provinces" [value]="province.id">
              {{province.name | titlecase}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-note color="danger" *ngIf="signupForm.get('place_of_birth').hasError('required') && signupForm.get('place_of_birth').touched">
          <small>Tempat lahir wajib dipilih</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label>Pilih Kota</ion-label>
          <ion-select formControlName="city_of_residence">
            <ion-select-option *ngFor="let city of selectedCities" [value]="city.id">
              {{city.name | titlecase}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-note color="danger" *ngIf="signupForm.get('city_of_residence').hasError('required') && signupForm.get('city_of_residence').touched">
          <small>Kota wajib dipilih</small>
        </ion-note>
      </div>

      <ng-container>
        <ion-button *ngIf="!loader" [disabled]="signupForm.invalid" type="submit" class="ion-margin-top" color="main">
          Daftar
        </ion-button>

        <ion-spinner *ngIf="loader" class="ion-margin-top"></ion-spinner>
      </ng-container>
    </ion-grid>
  </form>
</ion-content>
