
<ion-content>
  <ion-refresher (ionRefresh)="refreshPage($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="100">
    <ion-refresher-content
      pullingIcon="circles"
      refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>

  <ion-card class="header">
    <ion-header class="ion-no-border">
      <ion-toolbar color="none">
        <ion-buttons slot="start">
          <div class="left">
            <div class="img-container">
              <img routerLink="/home/calendar" src="../../../assets/images/calendar.svg" alt="">
            </div>
            <div class="date-container">
              <ion-text>
                <p class="chinese-text">{{nowDay | date: 'MM'}}月 {{nowDay | date: 'dd'}}日, {{chineseday}}</p>
              </ion-text>
              <ion-text color="black">
                <p class="now">{{ day }}, {{nowDay | date: 'dd MMM YYYY'}}</p>
              </ion-text>
            </div>
          </div>
          <div class="right">
            <img routerLink="/home/notification" src="../../../assets/images/chinese-lamp.svg" alt="">
          </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card>

  <ion-card class="biodata">
    <ion-text color="main">
      <h1 *ngIf="user && user.chinese_name">{{user.chinese_name.length > 15 ? user.chinese_name.slice(0, 15) + '...' : user.chinese_name }}</h1>
    </ion-text>

    <ion-text color="main">
      <h3>{{fullname | titlecase}}</h3>
    </ion-text>

    <ion-text color="black">
      <p>{{no_anggota}}</p>
    </ion-text>
  </ion-card>

  <ion-card class="menu">
    <div class="point">
      <ion-text color="main">
        <p>{{1000000 | number: '1.0-0'}}</p>
      </ion-text>
      <ion-text color="main">
        <span>pts</span>
      </ion-text>
    </div>
    &nbsp;
    <div class="icons">
      <div class="scan">
        <img (click)="onOpenCamera()" src="../../../assets/images/scan.svg" alt="">
      </div>

      <div class="tree">
        <img src="../../../assets/images/tree.svg" alt="">
      </div>

      <div class="merchant">
        <img src="../../../assets/images/merchant.svg" alt="">
      </div>
    </div>
  </ion-card>

  <div *ngIf="slides">
    <div class="banner ion-padding-top ion-padding-horizontal">
      <ion-slides #slide (ionSlideTouchEnd)="onSlide($event)" pager="false" [options]="slideOpts">
        <ion-slide routerLink="/detail-banner/{{slide._id}}" *ngFor="let slide of slides; let i = index">
          <img src="{{slide.image}}" alt="">
        </ion-slide>
      </ion-slides>
      <br *ngIf="slides.length === 1">
      <div *ngIf="slides.length > 1" class="bullets">
        <div *ngFor="let slide of slides; let i = index" [ngClass]="{
          bullet: i === bullet,
          'no-bullet': i !== bullet
        }"></div>
      </div>
    </div>
  </div>

  <div class="newsletter-wrapper">
    <ion-card *ngIf="newsletter.length > 0" class="newsletter ion-no-margin">
      <div routerLink="/detail-newsletter/{{news._id}}" *ngFor="let news of newsletter; let i = index" class="section">
        <ion-text class="title-container" color="main">
          <img src="../../../assets/images/shape.svg" alt="">
          <p class="title">{{news.title.slice(0, 50)}}</p>
        </ion-text>
        <ion-text color="main">
          <p class="description">{{news.subtitle.slice(0, 40)}}...</p>
        </ion-text>
        <div class="ruler" *ngIf="i !== newsletter.length -1"></div>
      </div>
    </ion-card>
    <div *ngIf="showMore" class="show-more">
      <ion-button routerLink="/list-newsletter" class="more" color="none">
        Tampilkan Semua
      </ion-button>
    </div>
  </div>
</ion-content>
