ion-content {
  ion-card.header {
    --background: transparent;
    box-shadow: none;
    ion-header {
      ion-toolbar {
        ion-buttons {
          justify-content: space-between;
          width: 100%;
          div.left {
            display: flex;

            div.date-container {
              padding-left: 1rem;
              p.chinese-text {
                margin: 0;
                color: var(--ion-color-main);
                font-weight: 600;
                font-size: 20px;
              }

              p.now {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
              }
            }
          }

          div.right {

          }
        }
      }
    }
  }

  ion-card.biodata {
    --background: transparent;
    box-shadow: none;

    h1, h3 {
      font-weight: bold;
      margin: 0;
      font-family: var(--font-primary);
    }

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 32px;
    }

    p {
      font-weight: bold;
      margin: 0;
      padding-top: .5rem;
      font-size: 20px;
    }
  }

  ion-card.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 0;
    margin: 0;
    box-shadow: none;

    div.point {
      display: flex;
      align-items: baseline;
      padding-left: 1rem;

      ion-text {
        p {
          font-size: 30px;
          margin: 0;
        }
      }

      ion-text {
        span {
          padding-left: .5rem;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }

    div.icons {
      display: flex;
      padding-right: 1rem;
      div.scan {
        padding-left: 1.7rem;
        img {
          width: 49px;
        }
      }

      div.tree {
        padding-left: 1.7rem;
        img {
          opacity: 0.5;
          width: 49px;
        }
      }

      div.merchant {
        padding-left: 1.7rem;
        img {
          opacity: 0.5;
          width: 49px;
        }
      }
    }
  }

  div.banner {
    div.bullets {
      display: flex;
      justify-content: center;

      .bullet {
        width: 10px;
        height: 10px;
        margin: 0.5rem 0.2rem;
        border-radius: 50%;
        background-color: var(--ion-color-main);
      }

      .no-bullet {
        width: 10px;
        height: 10px;
        margin: 0.5rem 0.2rem;
        border-radius: 50%;
        background-color: var(--ion-color-grey);
        border: 1px solid var(--ion-color-grey);
      }
    }
  }

  div.newsletter-wrapper {
    position: relative;
    ion-card.newsletter {
      border: 1px solid var(--ion-color-main);
      padding: 1rem;
      font-family: var(--font-primary);
      div.section {
        padding-bottom: 1rem;

        ion-text.title-container {
          display: flex;
          align-items: baseline;
        }

        span.shape {
          display: inline-block;
          width: 10px;
          height: 7px;
          border-radius: 50%;
          background-color: var(--ion-color-main);
        }
        p {
          margin: 0.1rem 0;
        }
        p.title {
          font-weight: bold;
          font-size: 20px;
          padding-left: .5rem;
        }

        p.description {
          font-size: 16px;
          padding-left: 1.1rem;
        }
      }
      div.ruler {
        border-bottom: 1px dotted var(--ion-color-grey);
        padding-top: 1rem;
      }
    }

    div.show-more {
      position: relative;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      ion-button.more {
        text-align: center;
        background: var(--ion-color-main);
        color: var(--ion-color-light);
        padding: 0.5rem 1rem;
        margin: 0 auto;
        bottom: 35px;
        width: 160px;
        position: relative;
        border-radius: 30px;
        font-size: 13px;
        font-weight: 700;
        font-family: var(--font-primary);
      }
    }
  }

  ion-card {
    margin: 1rem;
    font-family: 'raleway-semibold';
    font-size: 14px;
  }
  ion-card.bio {
    ion-card-header {
      display: flex;
      align-items: center;

      div.bio-scan {
        display: flex; flex-direction: column; justify-content: center;

        ion-note {
          font-size: 10px; text-align: center;
        }

      }

      div.bio-biodata {
        div {
          display: flex; align-items: center;

          ion-icon {
            font-size: 17px; padding-top: 0.4rem;padding-left: 0.2rem;
          }
        }
      }

      ion-icon {
        font-size: 55px; //Preferred size here
      }

      ion-card-subtitle {
        font-size: 14px;
      }

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }

      div {
        p {
          margin: 0;
          margin-top: 2px;
          font-weight: bold;
          font-family: 'raleway-bold';
          font-size: 14px;
        }
      }
    }

    ion-card-content {
      font-size: 12px;
      font-family: 'raleway-semibold';
    }
  }

  ion-card.event {
    ion-card-header {
      ion-card-subtitle {
        font-weight: bolder;
        font-size: 16px;
        font-family: 'raleway-bold';
      }
    }
    ion-card-content {
      ion-list {
        ion-item {
          ion-label {
            font-family: 'raleway-reguler';
            h3 {
              font-family: 'raleway-semibold';
            }
            ion-note {
              font-family: 'raleway-reguler';
              font-size: 12px;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }

  ion-card.calendar-date {
    div.calendar {
      padding: 1rem;
      border: 1px solid lightgrey;
      box-sizing: border-box;
      box-shadow: 1px 2px 2px lightgrey;
      font-family: 'raleway-reguler';

      .day {
        cursor: pointer;
        width: 14.2%;
        display: inline-block;
        padding: .6rem .6rem;
        box-sizing:border-box;
        text-align: center;
      }

      .day:hover {
        font-weight: bold;
        background: #eee;
      }

      .month {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;

        ion-icon {
          font-size: 25px; //Preferred size here
        }
      }
    }

    div.boxes {
      padding-top: 1rem;
      .box {
        height: 10px;
        width: 10px;
        border-radius: 2px;
        display: inline-block;
        margin-left: 1rem;
        margin-right: 4px;
      }

      .box1 {
        background-color: red;
      }

      .box2 {
        background-color: orange;
      }

      .box3 {
        background-color: blue;
      }
    }
  }
}
