
<ion-content>
  <ion-refresher (ionRefresh)="refreshPage($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="100">
    <ion-refresher-content
      pullingIcon="circles"
      refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>

  <ion-card class="header">
    <ion-header class="ion-no-border">
      <ion-toolbar color="none">
        <ion-buttons slot="start">
          <div class="left">
            <div class="img-container">
              <img src="../../../assets/images/calendar.svg" alt="">
            </div>
            <div class="date-container">
              <ion-text>
                <p class="chinese-text">10月 18日,星期五</p>
              </ion-text>
              <ion-text color="black">
                <p class="now">Jumat, 28 Nov 2022</p>
              </ion-text>
            </div>
          </div>
          <div class="right">
            <img src="../../../assets/images/chinese-lamp.svg" alt="">
          </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-card>

  <ion-card class="biodata">
    <ion-text color="main">
      <h1>黄朝毅</h1>
    </ion-text>

    <ion-text color="main">
      <h3>{{fullname | titlecase}}</h3>
    </ion-text>

    <ion-text color="black">
      <p>{{no_anggota}}</p>
    </ion-text>
  </ion-card>

  <ion-card class="menu">
    <div class="point">
      <ion-text color="main">
        <p>1500</p>
      </ion-text>
      <ion-text color="main">
        <span>point</span>
      </ion-text>
    </div>

    <div class="scan">
      <img (click)="onOpenCamera()" src="../../../assets/images/scan.svg" alt="">
    </div>

    <div class="tree">
      <img routerLink="/home/tree" src="../../../assets/images/tree.svg" alt="">
    </div>

    <div class="merchant">
      <img routerLink="/home/merchant" src="../../../assets/images/merchant.svg" alt="">
    </div>
  </ion-card>

  <div class="banner ion-padding">
    <ion-slides #slide (ionSlideTouchEnd)="onSlide($event)" pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let slide of slides; let i = index">
        <img src="../../../assets/images/{{slide.banner}}" alt="">
      </ion-slide>
    </ion-slides>
    <div class="bullets">
      <div *ngFor="let slide of slides; let i = index" [ngClass]="{
        bullet: i === bullet,
        'no-bullet': i !== bullet
      }"></div>
    </div>
  </div>

  <ion-card class="newsletter">
    <div *ngFor="let news of newsletter; let i = index" class="section">
      <ion-text class="title-container" color="main">
        <img src="../../../assets/images/shape.svg" alt="">
        <p class="title">{{news.title.slice(0, 50)}}</p>
      </ion-text>
      <ion-text color="main">
        <p class="description">{{news.description.slice(0, 40)}}...</p>
      </ion-text>
    </div>
  </ion-card>
</ion-content>
