<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home/homepage">
        <img src="../../../assets/icon/tab-home.svg" alt="">
      </ion-tab-button>

      <ion-tab-button routerLink="/home/profile">
        <img src="../../../assets/icon/tab-person.svg" alt="">
      </ion-tab-button>

      <ion-tab-button disabled routerLink="/home/setting">
        <img src="../../../assets/icon/tab-setting.svg" alt="">
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
