<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home/homepage">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/home/tree">
        <ion-icon name="leaf"></ion-icon>
        <ion-label>Family Tree</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/home/profile">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Setting</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
