ion-content {
  form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-grid {
      // height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      ion-text {
        h1 {
          font-family: 'raleway-reguler';
        }
      }

      ion-radio-group {
        width: 100%;
      }

      ion-item {
        width: 100%;
        position: relative;
        ion-label {
          font-size: 12px;
          font-family: 'raleway-reguler';
        }

        ion-icon {
          position: absolute;
          right: 8px;
          bottom: 7px;
          z-index: 1000;
        }
      }

      ion-button {
        width: 100%;
        box-sizing: border-box;
      }

      small.reg {
        display: flex;
        font-family: 'raleway-reguler';

        a {
          padding-left: .5rem;
          text-decoration: none;
        }
      }
    }
  }
}
