ion-content {
  height: 100%;
  form {
    height: 100%;
    display: flex;

    ion-grid {
      padding-top: 5rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      ion-text {
        h1 {
          margin: 0;
          font-family: var(--font-primary);
          font-weight: 700;
        }
      }

      div.item {
        width: 100%;
        ion-item.input {
          border-bottom: 1px solid var(--ion-color-main);
        }
        ion-item {
          width: 100%;
          position: relative;
          ion-label {
            font-size: 15px;
            color: var(--ion-color-grey);
            font-family: var(--font-primary);
          }

          ion-note {
            font-family: var(--font-primary);
          }

          ion-icon {
            position: absolute;
            right: 8px;
            bottom: 7px;
            z-index: 1000;
          }
        }
      }

      ion-button {
        box-sizing: border-box;
        --border-radius: 50px;
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 20px;
        height: 49px;
        width: 225px;
      }

      small.reg {
        font-size: 15px;
        font-family: var(--font-primary);
        color: var(--ion-color-main);
        a {
          cursor: pointer;
          font-weight: bold;
          text-decoration: none;
          color: var(--ion-color-main);
        }
      }
    }
  }
}
