<ion-content direction="xy" class="ion-padding-horizontal">
  <form (ngSubmit)="onSignin()" [formGroup]="signinForm">
    <ion-grid>
      <ion-text color="main">
        <h1>Masuk</h1>
      </ion-text>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label position="floating">Alamat Email</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="signinForm.get('email').hasError('required') && signinForm.get('email').touched">
          <small>Email wajib diisi</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signinForm.get('email').hasError('maxlength') && signinForm.get('email').touched">
          <small>Email tidak valid</small>
        </ion-note>
      </div>

      <div class="item">
        <ion-item lines="none" color="none" class="ion-no-padding input">
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" [type]="type"></ion-input>
          <ion-icon (click)="onEye()" [name]="eye"></ion-icon>
        </ion-item>
        <ion-note color="danger" *ngIf="signinForm.get('password').hasError('required') && signinForm.get('password').touched">
          <small>Password wajib diisi</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signinForm.get('password').hasError('minlength') && signinForm.get('password').touched">
          <small>Password minimal 6 karakter</small>
        </ion-note>
        <ion-note color="danger" *ngIf="signinForm.get('password').hasError('maxlength') && signinForm.get('password').touched">
          <small>Password maksimal 16 karakter</small>
        </ion-note>
      </div>

      <ng-container *ngIf="!loader">
        <ion-button type="submit" [disabled]="signinForm.invalid" class="ion-margin-top" color="main">Masuk</ion-button>
        <small class="reg ion-margin-top">Belum punya akun ? <a routerLink="/signup">Daftar disini</a></small>
      </ng-container>

      <ion-spinner *ngIf="loader" class="ion-margin-top"></ion-spinner>
    </ion-grid>
  </form>
</ion-content>
