/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

:root {
  --color-secondary: #868686;
  --color-error: #eb445a;
  --font-primary: 'Arsenal';

  --ion-color-main: #980000;
  --ion-color-black: #000000;
  --ion-color-grey: #AAAAAA;
  --ion-color-disabled: #CCCCCC;
  --ion-color-light: #FFFAEC;
  --ion-color-card: #D95127;
  --ion-color-gregorian: #DDDDDD;
  --ion-color-lunar: #FFC701;
  --ion-color-green: #AAEA9A;
  --ion-color-white: #FFFFFF;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
}

.ion-color-lunar {
  --ion-color-base: var(--ion-color-lunar);
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
}

.ion-color-gregorian {
  --ion-color-base: var(--ion-color-gregorian);
}

.ion-color-main {
  --ion-color-base: var(--ion-color-main);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
}

.ion-color-grey {
  --ion-color-base: var(--ion-color-grey);
}

.ion-color-light {
  --ion-color-base: var(--ion-color-light);
}

.ion-color-card {
  --ion-color-base: var(--ion-color-card);
}

/* Core CSS required for Ionic components to work properly */

ion-title {
  font-weight: bold;
  font-family: 'Arsenal';
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets {
  position: fixed !important;
  bottom: 0px !important;
  padding-bottom: 3px !important;
  z-index: 100;
}

ion-modal#modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#modal ion-icon {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  padding: 4px 0;
  color: #aaaaaa;
}

ion-modal#modal .wrapper {
  margin-bottom: 10px;
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  --background: url('./assets/images/bg.png') 0 0/100% 100% no-repeat !important;
}
